$icon-font-path: '../fonts/';

@import '_boot';
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

svg {
  max-width: 100%;
  height: auto;
}
.text-editor {
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.foreign {
  background-color: rgba(200, 15, 75, .5);
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
